@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}
<form method="get">
    <h1>@ViewBag.Title</h1>
    <div>@{
            await Html.RenderPartialAsync("SearchComponent", new ViewDataDictionary(ViewData));
        }</div>
<table class="table w-100 mt products">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Store</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in @Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Store.Name</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="button button-blue-back searchButton"><a href="~/product/details">Details</a></button>
                        </td>
                </tr>
            }
        </tbody>
    </table>
</form>
