@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}
    <h1>@ViewBag.Title</h1>
    <div>@{
            await Html.RenderPartialAsync("SearchComponent", new ViewDataDictionary(ViewData));
        }</div>
<table class="table w-100 mt products">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Store</td>
                <td>Quantity</td>
                <td>Price</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in @Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td class="tableDescription">@product.Description</td>
                    <td>@product.Store.Name</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price</td>
                    <td class="cellCenter">
                        <button class="btn btn-primary" onclick="location.href='@(Url.Action("Details", "Product", new { id = product.Id }))'">
                            Details
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
