@model IEnumerable<OnlineStore.DataAccess.Models.Store>

@{
    ViewData["Title"] = "Stores";
}
<div class="headerWithButton">
    <h2>Stores</h2>
    <button type="button" class="btn btn-success buttonRight" onclick="location.href='@Url.Action("Create", "Store")'">Create Store</button>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Stores</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
                <tr>
                    <td>@store.Name</td>
               
                    <td class ="buttonsCell">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Store", new { storeId = store.Id })'">Details</button>
                    @if (User.IsInRole("Admin"))
                    {
                        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Edit", "Store", new { id = store.Id })'">Edit</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Store", new { id = store.Id })'">Delete</button>
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>
